@charset "UTF-8";

@media screen and ( min-width:768px) {
    span#imenu {
        display: none;
    }
    menu {
        display: block;
    }
    menu > ul > li {
        display: inline-block;
    }
    
    menu > ul > li > a{
        background-color: rgba(0, 0, 0, 0);
        border: none;
        color:rgb(91, 30, 11);
        
    }

    menu > ul > li > a:hover{
        background-color: #28140B;
        color: #FEBF0F;
    }

    header p{
        font-size: 1.3em;
    }
    
}